@page "/ListaGrados"
@using Microsoft.AspNetCore.Components.Authorization
@using RegistroAcademicoApp.Shared
@inject HttpClient http
<AuthorizeView>
    <Authorized>
        <h3 style="color: cornflowerblue">@message</h3>
        @code{
            string[] cabecerasTabla = { "Codigo", "Grado", "Seccion", "Opciones" };
        }
        <div class="@tipoMsg">
            @msg
        </div>
        <Lista cabeceras=cabecerasTabla
               lista=listaGrados
               eventEliminar="EliminarDatos"
               eventBusqueda="BusquedaGrado"
               rtaAgregar="agregarGrado"
               rtaEditar="editarGrado"
               EditarOpt="true"
               AgregarOpt="true"
               MostrarEspera="true" />
    </Authorized>
    <NotAuthorized>
        <h3 style="color:red">@message</h3>
    </NotAuthorized>
</AuthorizeView>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> auth { get; set; }

    private string tipoMsg = "", msg = "", message = "";
    private GradoCls[] listaGrados;
    protected override async Task OnInitializedAsync()
    {
        var authuser = await auth;
       
            var user = authuser.User;

            if (user.Identity.IsAuthenticated)
            {
                message = "Bienvenido " + user.Identity.Name;
            }
            else
            {
                message = "No esta autenticado";
            }
        listaGrados = await http.GetFromJsonAsync<GradoCls[]>("api/Grados/Get");
    }

    public async Task BusquedaGrado(string data)
    {
        tipoMsg = ""; msg = "";
        listaGrados = await http.GetFromJsonAsync<GradoCls[]>("api/Grado/Filtrar/" + data);

    }

    public async Task EliminarDatos(string data)
    {
        int respuesta = await http.GetFromJsonAsync<int>("api/Grado/EliminarGrado/" + data);
        if (respuesta == 1)
        {
            data = "";
            listaGrados = await http.GetFromJsonAsync<GradoCls[]>("api/Grado/Filtrar/" + data);
            tipoMsg = "alert alert-primary";
            msg = "Grado eliminado con exito";
        }
        else
        {
            tipoMsg = "alert alert-danger";
            msg = "Accion no pudo procesarse, es posible que el Grado ya cuente con registros";
        }
    }













}
