@using Microsoft.AspNetCore.Components.Authorization
@using RegistroAcademicoApp.Shared;
@inject HttpClient http;
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">RegistroAcademicoApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
      
        @if (lstMenuUsuario != null)
        {
            @foreach (var menu in lstMenuUsuario)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@menu.OpcionMenu">
                        <span class="@menu.Icono" aria-hidden="true"></span> @menu.NombreMenu
                    </NavLink>
                </li>
            }
            }
            else
            {
                <h3 style="color:red">No cuenta con opciones asignadas</h3>
            }
    </ul>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> auth { get; set; }
    public MenuCls[] lstMenuUsuario;

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {

        var authuser = await auth;

        var user = authuser.User;



        if (user.Identity.IsAuthenticated)
        {
            //message = "Bienvenido " + user.Identity.Name;
            string nombreUsuario = user.Identity.Name;
            lstMenuUsuario = await http.GetFromJsonAsync<MenuCls[]>("api/Perfil/GetPerfiles/" + nombreUsuario);
        }
        else
        {
            //message = "No esta autenticado";
        }
    }

    /*


    */

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
